* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    text-align: center;
@include box-sizing(border-box);

}

body{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wFDgwaDDGWwSMAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAOklEQVRIx+3NIQFAIRDA0IGnzclfh1TUQV4bCmCuAurvmcm1zBzAB+yIODzQa7CqvJpsYFYlSZJ+6ALz/wgGAIwlfwAAAABJRU5ErkJggg==) repeat;
}

.login-form {
    margin-top: 200px;
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form[name=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

form[name=login] input,
form[name=login] button {
    font-size: 18px;
    margin: 16px 0;
}

form[name=login] > div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

.form-links a {
    color: #fff;
}

span.login-text {
    color: #4BABFD;
}