/* EMPTY */
div[data-count-mark='0'] span{
	display: block;
    line-height: 26px;
    font-size: 16px;
}
/* ONE MARK */
div[data-count-mark='1'] span{
    font-size: 16px;
    display: block;
    line-height: 26px;
}
/* TWO MARKS */
div[data-count-mark='2'] span:first-child {
	display: block;
	font-size: 12px;
	border-bottom: 1px solid #CCC;
}
div[data-count-mark='2'] span:last-child {
	display: block;
	font-size: 12px;
	margin-top: -1px;
}
/* THREE MARKS */
div[data-count-mark='3'] span:nth-child(1){
	display: block;
	font-size: 12px;
	border-bottom: 1px solid #CCC;
}
div[data-count-mark='3'] span:nth-child(2){
	min-width: 50%;
	display: block;
	float: left;
	border-right: 1px solid #CCC;
	font-size: 9px;
	color: #000;
}
div[data-count-mark='3'] span:nth-child(3){
	display: block;
	font-size: 9px;
	margin-left: -1px;
	color: #000;
}
/* FOUR MARKS */
div[data-count-mark='4'] span:nth-child(1){
	display: block;
	min-width: 50%;
	float: left;
	border-right: 1px solid #CCC;
	font-size: 9px;
	color: #000;
}
div[data-count-mark='4'] span:nth-child(2){
	display: block;
	font-size: 9px;
	margin-left: -1px;
	margin-top: 1px;
	color: #000;
	border-bottom: 1px solid #CCC;
}
div[data-count-mark='4'] span:nth-child(3){
	display: block;
	min-width: 50%;
	float: left;
	border-right: 1px solid #CCC;
	font-size: 9px;
	padding-top: 2px;
	color: #000;
}
div[data-count-mark='4'] span:nth-child(4){
	display: block;
	font-size: 9px;
	padding-top: 2px;
	margin-left: -1px;
	color: #000;
}
